extends layout

block content
  h1= title
  p 1000  $ =  #{title1} UAH
  p 1000 UAH =  #{title2} $
  p 1000 RU =  #{title3} UAH
  p 1000 UAH =  #{title4} RU
  p 1000 EUW =  #{title5} UAH
  p 1000 UAH =  #{title6} EUW